//sass --watch style.scss style.css
body {
    padding: 1em;
    font-family: 'Roboto';
    //background-color: #0FA2BD;
}

header {
    img {
        width: 610px;
    }
    h1 {
        padding-left: 30px;
        padding-top: 15px;
        font-size: 1.2em;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: solid;
    padding: 1em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    img {
        margin-left: 7px;
        width: 27px;
    }
    input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#apikey {
    margin-bottom: 20px;
}


/* Le style de l'info-bulle */

.tooltipApi-content {
    display: none;
}

.tooltipApi:hover+.hide {
    display: block;
    color: red;
}

.container {
    // display: flex;
    // margin: 0;
}


/* The Modal (background) */

.modalInfo {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}